In [1]:
import pandas as pd

data = pd.read_csv("dataspark.csv")

In [2]:
data.columns

Index(['order_number', 'line_item', 'order_date', 'customerkey', 'storekey',
       'productkey', 'quantity', 'currency_code', 'product_name', 'brand',
       'color', 'subcategorykey', 'subcategory', 'categorykey', 'category',
       'unit_cost', 'unit_price', 'gender', 'city', 'state', 'zip_code',
       'country', 'continent', 'birthday', 'age', 'exchange_value',
       'store_country', 'store_state', 'store_square_meters',
       'store_open_date', 'total_cost_usd', 'total_price_usd',
       'profit_loss_usd', 'total_cost_org', 'total_price_org',
       'profit_loss_org', 'age_group'],
      dtype='object')

In [3]:
data

,order_number,line_item,order_date,customerkey,storekey,productkey,quantity,currency_code,product_name,brand,...,store_state,store_square_meters,store_open_date,total_cost_usd,total_price_usd,profit_loss_usd,total_cost_org,total_price_org,profit_loss_org,age_group
0,366000,1,2016-01-01,265598,10,1304,1,CAD,Contoso Lens Adapter M450 White,Contoso,...,Nunavut,1210.0,2015-04-04,31.27,68.00,36.73,43.415268,94.411200,50.995932,40-60
1,1749017,1,2019-10-15,265598,0,1619,1,CAD,Contoso DVD Player M130 Grey,Contoso,...,Online,0.0,2010-01-01,27.59,59.99,32.40,36.501570,79.366770,42.865200,40-60
2,891000,2,2017-06-09,265598,9,174,1,CAD,SV 22xDVD M600 Black,Southridge Video,...,Northwest Territories,1500.0,2005-03-04,43.04,129.90,86.86,58.142736,175.481910,117.339174,40-60
3,891000,1,2017-06-09,265598,9,385,2,CAD,Adventure Works Laptop8.9 E0890 Red,Adventure Works,...,Northwest Territories,1500.0,2005-03-04,332.40,652.00,319.60,449.039160,880.786800,431.747640,40-60
4,891000,4,2017-06-09,265598,9,87,1,CAD,NT Wireless Bluetooth Stereo Headphones M402 P...,Northwind Traders,...,Northwest Territories,1500.0,2005-03-04,45.98,99.99,54.01,62.114382,135.076491,72.962109,40-60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62879,1511040,1,2019-02-19,957765,40,757,6,GBP,Contoso Enhanced Capacity Battery M800 Black,Contoso,...,Dungannon and South Tyrone,1300.0,2012-06-06,76.98,167.40,90.42,59.428560,129.232800,69.804240,20-40
62880,1466016,1,2019-01-05,347907,9,2232,2,CAD,WWI Chandelier M815 Black,Wide World Importers,...,Northwest Territories,1500.0,2005-03-04,246.94,537.00,290.06,331.936748,721.835400,389.898652,60-80
62881,1625031,1,2019-06-13,725929,30,2308,2,EUR,Proseware Desk Lamp E0130 Blue,Proseware,...,Pesaro,2100.0,2008-01-12,81.52,159.90,78.38,72.210416,141.639420,69.429004,20-40
62882,1632012,1,2019-06-20,1292476,65,2331,2,USD,Litware Wall Lamp E3015 Silver,Litware,...,West Virginia,1785.0,2012-01-01,104.00,203.98,99.98,104.000000,203.980000,99.980000,20-40
62883,1825024,1,2019-12-30,1546902,50,2479,5,USD,Litware 17'' Oscillating Pedestal Fan M125 White,Litware,...,Kansas,2000.0,2008-03-06,482.85,1050.00,567.15,482.850000,1050.000000,567.150000,60-80

In [1]:
from sqlalchemy import create_engine

# Establishing connection to MySQL database
database_url = 'mysql+pymysql://root:abcd123@127.0.0.1/DataSpark'
engine = create_engine(database_url)

In [6]:
import pandas as pd
from sqlalchemy import text

# Define SQL Queries
queries = {
    "Top 5 Countries by Total Sales": """
        SELECT store_country, SUM(total_price_usd) AS total_sales_usd
        FROM dataspark_final_df
        GROUP BY store_country
        ORDER BY total_sales_usd DESC
        LIMIT 5;
    """,
    "Top 5 Products by Profit": """
        SELECT product_name, SUM(profit_loss_usd) AS total_profit_usd
        FROM dataspark_final_df
        GROUP BY product_name
        ORDER BY total_profit_usd DESC
        LIMIT 5;
    """,
    "Monthly Sales Trend for US": """
        SELECT DATE_FORMAT(order_date, '%Y-%m') AS month, SUM(total_price_usd) AS monthly_sales_usd
        FROM dataspark_final_df
        WHERE store_country = 'United States'
        GROUP BY month
        ORDER BY month;
    """,
    "Customer Segmentation by Age Group": """
        SELECT age_group, SUM(total_price_usd) AS total_spent_usd
        FROM dataspark_final_df
        GROUP BY age_group
        ORDER BY total_spent_usd DESC;
    """,
    "Top 5 Brands by Sales Volume": """
        SELECT brand, SUM(quantity) AS total_units_sold
        FROM dataspark_final_df
        GROUP BY brand
        ORDER BY total_units_sold DESC
        LIMIT 5;
    """,
    "Store Performance by Size": """
        SELECT store_square_meters, SUM(total_price_usd) AS total_sales_usd, SUM(profit_loss_usd) AS total_profit_usd
        FROM dataspark_final_df
        GROUP BY store_square_meters
        ORDER BY store_square_meters;
    """,
    "Products with Highest Return Rate": """
        SELECT product_name, COUNT(order_number) AS return_count
        FROM dataspark_final_df
        WHERE profit_loss_usd < 0
        GROUP BY product_name
        ORDER BY return_count DESC;
    """,
    "Average Order Value by Country": """
        SELECT store_country, AVG(total_price_usd) AS avg_order_value_usd
        FROM dataspark_final_df
        GROUP BY store_country
        ORDER BY avg_order_value_usd DESC;
    """,
    "Top 5 Categories by Profit Margin": """
        SELECT category, 
               SUM(profit_loss_usd) / SUM(total_cost_usd) * 100 AS profit_margin_percentage
        FROM dataspark_final_df
        GROUP BY category
        ORDER BY profit_margin_percentage DESC
        LIMIT 5;
    """,
    "Store Open Date Impact on Profitability": """
        SELECT store_open_date, SUM(profit_loss_usd) AS total_profit_usd
        FROM dataspark_final_df
        GROUP BY store_open_date
        ORDER BY store_open_date;
    """
}

# Execute SQL Queries and Load Results into DataFrames
results = {}
for query_name, query in queries.items():
    results[query_name] = pd.read_sql_query(text(query), con=engine)
    print(f"\n{query_name}:\n", results[query_name])

Top 5 Countries by Total Sales:
     store_country  total_sales_usd
0   United States      23764425.86
1          Online      11404324.63
2  United Kingdom       5749769.78
3         Germany       4246279.22
4          Canada       3611561.79

Top 5 Products by Profit:
                                   product_name  total_profit_usd
0               WWI Desktop PC2.33 X2330 Black         337986.00
1  Adventure Works Desktop PC2.33 XD233 Silver         311663.95
2   Adventure Works Desktop PC2.33 XD233 Brown         310368.05
3   Adventure Works Desktop PC2.33 XD233 Black         299352.90
4   Adventure Works Desktop PC2.33 XD233 White         292225.45

Monthly Sales Trend for US:
       month  monthly_sales_usd
0   2016-01          218909.50
1   2016-02          350168.01
2   2016-03          167178.80
3   2016-04           33173.18
4   2016-05          277915.99
..      ...                ...
57  2020-10          113830.76
58  2020-11          140722.69
59  2020-12          255850.90
60  2021-01          209728.11
61  2021-02          254499.70

[62 rows x 2 columns]

Customer Segmentation by Age Group:
   age_group  total_spent_usd
0     40-60     1.668341e+07
1     60-80     1.665114e+07
2     20-40     1.554722e+07
3    80-100     6.873712e+06

Top 5 Brands by Sales Volume:
                   brand  total_units_sold
0               Contoso           49827.0
1  Wide World Importers           27413.0
2      Southridge Video           24814.0
3       Adventure Works           20099.0
4     The Phone Company           18764.0

Store Performance by Size:
     store_square_meters  total_sales_usd  total_profit_usd
0                   0.0     1.140432e+07        6672692.64
1                 245.0     1.509251e+05          88957.65
2                 310.0     2.260789e+05         135077.79
3                 350.0     7.281871e+05         427813.10
4                 385.0     1.990097e+05         119915.80
5                 400.0     2.051197e+05         118097.69
6                 560.0     4.022741e+05         234810.76
7                 595.0     2.430299e+05         141355.64
8                 665.0     1.517599e+04           9512.61
9                 840.0     1.220964e+06         723190.21
10                910.0     3.825951e+05         222214.25
11               1000.0     9.138563e+05         538542.06
12               1085.0     3.571301e+05         207888.11
13               1120.0     1.797046e+06        1047402.04
14               1190.0     1.250255e+06         741093.00
15               1200.0     1.871095e+05         108108.47
16               1210.0     1.043186e+06         606299.20
17               1260.0     2.401175e+06        1404393.59
18               1295.0     1.707167e+06         999387.17
19               1300.0     1.749263e+06        1020077.72
20               1330.0     1.259351e+06         745283.99
21               1365.0     1.049801e+06         620391.60
22               1500.0     1.336150e+06         774757.55
23               1540.0     1.475127e+06         868740.70
24               1645.0     1.325612e+06         784095.76
25               1715.0     3.885941e+05         231529.12
26               1785.0     1.225040e+06         711346.78
27               1800.0     9.953131e+05         579848.10
28               1855.0     6.735599e+05         395424.75
29               1900.0     8.860258e+05         515670.61
30               2000.0     1.424752e+07        8347341.44
31               2100.0     3.077288e+06        1798347.27
32               2105.0     1.232226e+06         723081.21

Products with Highest Return Rate:
 Empty DataFrame
Columns: [product_name, return_count]
Index: []

Average Order Value by Country:
     store_country  avg_order_value_usd
0           Italy           935.523312
1       Australia           933.781615
2         Germany           910.827804
3   United States           894.913420
4          France           886.478695
5     Netherlands           875.808740
6          Online           866.260891
7  United Kingdom           865.538127
8          Canada           858.668994

Top 5 Categories by Profit Margin:
                         category  profit_margin_percentage
0  Music, Movies and Audio Books                156.272841
1         Cameras and camcorders                150.740297
2                   TV and Video                147.837298
3                      Computers                140.543875
4                Home Appliances                139.945394

Store Open Date Impact on Profitability:
    store_open_date  total_profit_usd
0       2005-03-04        1268720.21
1       2007-07-08         853721.47
2       2008-01-01         679897.70
3       2008-01-12         571955.99
4       2008-03-06        1686379.75
5       2008-08-08         388878.99
6       2009-06-03         521502.72
7       2009-12-15        1409813.91
8       2010-01-01        9503212.90
9       2010-06-03        1615014.50
10      2012-01-01         711346.78
11      2012-01-07         207888.11
12      2012-06-06        1336902.72
13      2012-08-08         889780.11
14      2012-12-15        2122307.74
15      2013-06-07        1119696.22
16      2014-01-01         723190.21
17      2014-07-02        1210102.73
18      2015-01-01        1566822.29
19      2015-04-04        2181365.88
20      2015-12-09         756449.99
21      2018-06-03        1173050.09
22      2019-03-05         164687.37

In [9]:
import pandas as pd
from sqlalchemy import text

# Adjusted SQL Queries based on Kadar_datapark.pdf insights
queries = {
    "Top 5 Countries by Total Sales": """
        SELECT store_country, SUM(total_price_usd) AS total_sales_usd
        FROM dataspark_final_df
        GROUP BY store_country
        ORDER BY total_sales_usd DESC
        LIMIT 5;
    """,
    "Top 5 Products by Total Orders": """
        SELECT product_name, COUNT(order_number) AS total_orders
        FROM dataspark_final_df
        GROUP BY product_name
        ORDER BY total_orders DESC
        LIMIT 5;
    """,
    "Monthly Sales Trend for Top Performing Countries": """
        SELECT DATE_FORMAT(order_date, '%Y-%m') AS month, store_country, SUM(total_price_usd) AS monthly_sales_usd
        FROM dataspark_final_df
        WHERE store_country IN ('United States', 'United Kingdom', 'Germany', 'Canada', 'Australia')
        GROUP BY store_country, month
        ORDER BY month, store_country;
    """,
    "Sales by Customer Age Group": """
        SELECT age_group, SUM(total_price_usd) AS total_sales_usd, COUNT(order_number) AS total_orders
        FROM dataspark_final_df
        GROUP BY age_group
        ORDER BY total_sales_usd DESC;
    """,
    "Top 5 Brands by Sales Amount": """
        SELECT brand, SUM(total_price_usd) AS total_sales_usd
        FROM dataspark_final_df
        GROUP BY brand
        ORDER BY total_sales_usd DESC
        LIMIT 5;
    """,
    "Sales and Profit by Store Size": """
        SELECT store_square_meters, SUM(total_price_usd) AS total_sales_usd, SUM(profit_loss_usd) AS total_profit_usd
        FROM dataspark_final_df
        GROUP BY store_square_meters
        ORDER BY total_sales_usd DESC;
    """,
    "Products with Most Returns (Negative Profit)": """
        SELECT product_name, COUNT(order_number) AS return_count
        FROM dataspark_final_df
        WHERE profit_loss_usd < 0
        GROUP BY product_name
        ORDER BY return_count DESC
        LIMIT 5;
    """,
    "Average Order Value by Country and Year": """
        SELECT store_country, YEAR(order_date) AS year, AVG(total_price_usd) AS avg_order_value_usd
        FROM dataspark_final_df
        GROUP BY store_country, year
        ORDER BY store_country, year DESC;
    """,
    "Top Categories by Sales and Profit Margin": """
        SELECT category, 
               SUM(total_price_usd) AS total_sales_usd,
               SUM(profit_loss_usd) / SUM(total_cost_usd) * 100 AS profit_margin_percentage
        FROM dataspark_final_df
        GROUP BY category
        ORDER BY total_sales_usd DESC
        LIMIT 5;
    """,
    "Impact of Store Open Date on Profitability": """
        SELECT YEAR(store_open_date) AS year_opened, SUM(profit_loss_usd) AS total_profit_usd
        FROM dataspark_final_df
        GROUP BY year_opened
        ORDER BY year_opened;
    """
}

# Execute SQL Queries and Load Results into DataFrames
results = {}
for query_name, query in queries.items():
    results[query_name] = pd.read_sql_query(text(query), con=engine)
    print(f"\n{query_name}:\n", results[query_name])

Top 5 Countries by Total Sales:
     store_country  total_sales_usd
0   United States      23764425.86
1          Online      11404324.63
2  United Kingdom       5749769.78
3         Germany       4246279.22
4          Canada       3611561.79

Top 5 Products by Total Orders:
                                  product_name  total_orders
0  Adventure Works Desktop PC2.30 MD230 Black           162
1              WWI Desktop PC1.80 E1800 White           158
2  Adventure Works Desktop PC2.30 MD230 White           158
3              WWI Desktop PC1.60 E1600 Black           158
4              WWI Desktop PC1.80 E1801 Black           157

Monthly Sales Trend for Top Performing Countries:
        month   store_country  monthly_sales_usd
0    2016-01       Australia           36971.65
1    2016-01          Canada           51560.34
2    2016-01         Germany           77477.88
3    2016-01  United Kingdom           90575.87
4    2016-01   United States          218909.50
..       ...             ...                ...
305  2021-02       Australia           12525.59
306  2021-02          Canada           29524.87
307  2021-02         Germany           28769.94
308  2021-02  United Kingdom           21170.23
309  2021-02   United States          254499.70

[310 rows x 3 columns]

Sales by Customer Age Group:
   age_group  total_sales_usd  total_orders
0     40-60     1.668341e+07         18886
1     60-80     1.665114e+07         18816
2     20-40     1.554722e+07         17573
3    80-100     6.873712e+06          7609

Top 5 Brands by Sales Amount:
                   brand  total_sales_usd
0       Adventure Works     1.184991e+07
1               Contoso     1.079233e+07
2  Wide World Importers     9.172800e+06
3              Fabrikam     6.807894e+06
4     The Phone Company     5.386820e+06

Sales and Profit by Store Size:
     store_square_meters  total_sales_usd  total_profit_usd
0                2000.0     1.424752e+07        8347341.44
1                   0.0     1.140432e+07        6672692.64
2                2100.0     3.077288e+06        1798347.27
3                1260.0     2.401175e+06        1404393.59
4                1120.0     1.797046e+06        1047402.04
5                1300.0     1.749263e+06        1020077.72
6                1295.0     1.707167e+06         999387.17
7                1540.0     1.475127e+06         868740.70
8                1500.0     1.336150e+06         774757.55
9                1645.0     1.325612e+06         784095.76
10               1330.0     1.259351e+06         745283.99
11               1190.0     1.250255e+06         741093.00
12               2105.0     1.232226e+06         723081.21
13               1785.0     1.225040e+06         711346.78
14                840.0     1.220964e+06         723190.21
15               1365.0     1.049801e+06         620391.60
16               1210.0     1.043186e+06         606299.20
17               1800.0     9.953131e+05         579848.10
18               1000.0     9.138563e+05         538542.06
19               1900.0     8.860258e+05         515670.61
20                350.0     7.281871e+05         427813.10
21               1855.0     6.735599e+05         395424.75
22                560.0     4.022741e+05         234810.76
23               1715.0     3.885941e+05         231529.12
24                910.0     3.825951e+05         222214.25
25               1085.0     3.571301e+05         207888.11
26                595.0     2.430299e+05         141355.64
27                310.0     2.260789e+05         135077.79
28                400.0     2.051197e+05         118097.69
29                385.0     1.990097e+05         119915.80
30               1200.0     1.871095e+05         108108.47
31                245.0     1.509251e+05          88957.65
32                665.0     1.517599e+04           9512.61

Products with Most Returns (Negative Profit):
 Empty DataFrame
Columns: [product_name, return_count]
Index: []

Average Order Value by Country and Year:
      store_country  year  avg_order_value_usd
0        Australia  2021           671.408649
1        Australia  2020           922.901322
2        Australia  2019           886.438636
3        Australia  2018           911.708996
4        Australia  2017          1028.550912
5        Australia  2016          1077.991732
6           Canada  2021           753.301429
7           Canada  2020           791.470143
8           Canada  2019           809.279986
9           Canada  2018           904.272273
10          Canada  2017           877.286118
11          Canada  2016           999.830806
12          France  2021           693.011795
13          France  2020           957.818261
14          France  2019           884.354718
15          France  2018           886.496500
16          France  2017           836.158392
17          France  2016           879.452353
18         Germany  2021          1117.492963
19         Germany  2020           868.891088
20         Germany  2019           852.859680
21         Germany  2018           936.385958
22         Germany  2017           900.109347
23         Germany  2016          1103.616544
24           Italy  2021           757.626000
25           Italy  2020           869.398433
26           Italy  2019           831.096494
27           Italy  2018          1035.710423
28           Italy  2017           902.181625
29           Italy  2016          1095.177045
30     Netherlands  2021           704.805806
31     Netherlands  2020           792.152880
32     Netherlands  2019           864.835578
33     Netherlands  2018           865.726110
34     Netherlands  2017           886.787383
35     Netherlands  2016          1074.463088
36          Online  2021           858.190991
37          Online  2020           832.308363
38          Online  2019           832.657797
39          Online  2018           877.135574
40          Online  2017           898.122536
41          Online  2016          1007.162670
42  United Kingdom  2021           694.339223
43  United Kingdom  2020           829.273126
44  United Kingdom  2019           845.170884
45  United Kingdom  2018           855.873792
46  United Kingdom  2017           953.035199
47  United Kingdom  2016           884.123766
48   United States  2021           921.086925
49   United States  2020           844.123178
50   United States  2019           849.811158
51   United States  2018           909.675164
52   United States  2017           966.201426
53   United States  2016          1016.722002

Top Categories by Sales and Profit Margin:
                  category  total_sales_usd  profit_margin_percentage
0               Computers      19301595.46                140.543875
1         Home Appliances      10795478.59                139.945394
2  Cameras and camcorders       6520168.02                150.740297
3             Cell phones       6183791.22                130.294673
4            TV and Video       5928982.69                147.837298

Impact of Store Open Date on Profitability:
     year_opened  total_profit_usd
0          2005        1268720.21
1          2007         853721.47
2          2008        3327112.43
3          2009        1931316.63
4          2010       11118227.40
5          2012        5268225.46
6          2013        1119696.22
7          2014        1933292.94
8          2015        4504638.16
9          2018        1173050.09
10         2019         164687.37